*{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

 .ourform1{
    height: 230px;
}
.ourform{
    height: 100%; 
    background-image:linear-gradient(to top,white 40%,green 70%);

}
.ourform-card{
   margin-top: 100px;
}
.cow{
    height: 100vh;
}
.destimonial-div{
    height: 250px;
    width: 250px;
    border-radius:50%;
   
}
.destimonial-main{
    background-color: rgba(135, 207, 235, 0.541);
   
}
.organicfood{
    height: 300px;
   
} 
.mainpage{
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
}
.phone{
    width: 200px;
    height: 150px;
}
.phonedes{
    text-indent: 40px;
    text-align: justify;
}
.fakeapi-card:hover{
    background-color: rgba(165, 61, 42, 0.425);
    transform: scale(1.1);
}
